@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');

html,body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;

}

.conteiner {
    margin-top: 0;
    display: block;
    justify-content: inherit;
    background-image: url(https://templatemo.com/templates/templatemo_487_fitness/images/home-bg-slider-img2.jpg);
    height: 100vh;
    background-size: cover;

}
.container-welcome>h3, h1,a {  
    animation-duration: 2s;
    animation-name: slidein;

  }
  @keyframes slidein {
    from {
      margin-top: 20%;
      

    }
  
    to {
      margin-top: 0%;
     
    }
  }
.container1 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    position: fixed;
    width: 100%;
    height:100px;
}
.nav-btn{
   
    display: none;
    
}
.drop{
    display: flex;
}

@media(max-width:1000px){
    .nav-btn{
    border: none;
    color: #505050;
    display: block;
    padding-inline:10px ; 
    cursor: pointer;
    background-color:rgb(255, 255, 255);
    font-size: 2em;
}
.nav-cont{
    display:none;
}
.drop:hover .nav-cont{
    position: absolute;
    display: block;
    right: 1px;
}
}
#font-style{
    margin-top: 15px;
    padding-left: 100px;
    
}
#font-style>ul>li>a {
    color: #505050; 
    font-family: arial;
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    list-style: none;
}
.nav-cont{
    margin-top: 15px;
    padding-right: 150px;
}

    .nav-cont>ul>li>a{
    text-decoration: none;
    font-size: 24px;
    color:#999;
    font-size: normal;
    font-weight: normal;
    font-family: arial;
    padding-right: 50px;
}
.nav-cont>ul>li>a:hover {
    color: black;
}

.container1> .drop> nav>ul {
    display: flex;
    list-style: none;

}
.container1> #font-style >ul>li {
    display: flex;
    list-style: none;

}

.conteiner-welcome {
    display: block;
    margin-left: 40%;
    padding-top: 15%;
}

.conteiner-welcome>h3 {
    font-size: 24px;
    color: white;
    font-style: normal;
    margin-left: 5%;
    font-family: 'Lora', sans-serif;
    font-style: italic;
    letter-spacing: 2px;
}

.conteiner-welcome>h1 {
    font-size: 45px;
    color: white;
    font-style: normal;
    letter-spacing: 10px;
    padding-top: 10px;
}


.menu {
    background-color: rgb(25, 25, 47);
    text-align: center;
    display: inline-block;
    width: 250px;
    height: 40px;
    margin-left: 45%;
    transition: 0.7s;
    text-decoration: none;
    color: #707070;
    font-size: 18px;
    padding-top: 20px;
    letter-spacing: 2px;
    font-family: arial;
}

.menu:hover {
    color: black;
    background-color: white;
}

/* About Section */

.About-container {
    margin-top: 15%;
    display: flex;
    justify-content: space-around;


}

.About-container>div>img {
    display: flex;
    width: 550px;
    border: rgba(220, 220, 220, 0.518);
    border-style: solid;
    padding: 20px;
    padding-bottom: 40px;
    margin-left: 5%;

}

.img-conteiner {
    margin-left: 10%;
    margin-bottom: 10%;
}

.img-conteiner,img,.img-text,p{
    animation-duration: 1.5s;
    animation-name:imslide;
}
@keyframes imslide {
    from {
      margin-top: 60%;
    }
  
    to {
      margin-top: 0%;
    }
}
.paragraf-conteiner {
    display: block;
    width: 520px;
    margin-right: 10%;
    margin-bottom: 10%;

}

.paragraf-conteiner>h2 {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraf-conteiner>p {
    color: #707070;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-weight: 300;
    display: block;
    max-width: 350px;
}

.paragraf-conteiner>p>a {
    text-decoration: none;
    color: rgb(9, 110, 110);
    font-family: Arial, ;
}

.paragraf-conteiner>p>a:hover {
    color: rgb(82, 9, 150);
}

.about{
    margin-top: 60px;
}
.about-klik {
    background: rgb(255, 255, 255);
    border: rgb(0, 0, 0);
    border-style: solid;
    font-size: 22px;
    color: rgb(0, 0, 0);
    border-width: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-decoration: none;
    transition: 0.7s;
    margin-top: 10px;
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.about-klik:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}

.img-text {
    display: inline-block;
    width: 43%;
    flex-direction: column;
    align-items: center;
    margin-left: -480px;
    margin-top: 210px;
    margin-right: 150px;
    margin-bottom: 140px;
    box-shadow: 10px 10px 5px rgba(101, 100, 100, 0.059);
}

.img-text>p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    border: black;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-width: 8px;

}

/* Trainer Section */

.trainers-conteiner {
    background-color: rgb(249, 249, 249);

}

.trainer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.trainer-text>h2 {
    font-size: 30px;
    letter-spacing: 6px;
}

.trainer-text>p {
    font-size: 20px;
    color: rgb(160, 168, 168);
    line-height: 25px;
    letter-spacing: 0.4px;
}

.trainer-cv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.img-trainers {
    display: flex;
    flex-direction: column;
    max-width: 500px;
     
}

.img-trainers>div>img {
    max-width: 400px;


}

.trainer-name {
    position: relative;
    animation: 2s;
}

.img-background {

    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.715);
    letter-spacing: 2.5px;
    font-size: 20px;
    opacity: 0;
    transition: 0.5s;
    line-height: 0.5px;
    letter-spacing: 1px;

}

.img-background>div>ul>li {
    list-style: none;
}

.img-background>ul>li>a {
    text-decoration: none;
    list-style: none;


}

.icon {
    width: 300px;
    align-items: center;
    flex-direction: row;

}

.icon>ul {
    display: flex;
    justify-content: center;
    padding-left: 0;

}

.img-background:hover {
    background-color: rgba(12, 12, 34, 0.909);
    opacity: 1;
    transition: 0.5s;
    transform: scale(0.9, 0.9);
}

.img-trainers>img {
    margin-top: 100px;
    width: 350px;
    align-items: center;
    justify-content: center;
}

.img-trainers>div>p {
    text-align: center;
    display: flex;
    max-width: 350px;
    justify-content: center;
    font-size: 20px;
    color: rgb(160, 168, 168);
}

.background-trainers {
    margin-top: 80px;
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-image: url(https://templatemo.com/templates/templatemo_487_fitness/images/newsletter-bg.jpg);

}

.text-trainers {
    display: flex;
    padding-top: 110px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 76, 0.046);
    background-size: cover;

}

.text-trainers>h2 {
    font-size: 30px;
    color: white;
    letter-spacing: 11px;
    line-height: 20px;
}

.text-trainers>p {
    font-size: 24px;
    color: rgb(100, 103, 105)
}

.input-trainers {
    display: box;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    font-family: inherit;

}

.input-trainers input:hover {
    color: rgb(255, 255, 255);
    transition: 2s;

}

.input-trainers input {
    width: 300px;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: solid;
    margin: 15px;
    color: rgb(128, 128, 128);
    font-size: 20px;
    border-radius: 0;
    box-shadow: none;
    padding-left: 10px;
    transition: 2s;
    box-shadow: none;

}


.message {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}


.message>h3 {
    margin-top: 50px;
    font-size: 20px;
    color: white;
    background-color: rgba(15, 15, 21, 0.374);
    letter-spacing: 2px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    transition: 0.7s;
    margin-bottom: 50%;

}

.message>h3:hover {
    background-color: white;
    transition: 0.7s;
    color: rgb(0, 0, 28);
}

.blog-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-container>h2 {
    font-size: 26px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-container>p {
    color: rgba(128, 128, 128, 0.404);
    font-size: 20px;
    font-family: serif;
}

.body-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.body {
    width: 500px;
    margin: 20px;
    color: dimgray;
    border: solid;
    border-color: rgba(128, 128, 128, 0.189);
    border-width: 0.5px;
    padding: 30px;
}

.body:hover {
    display: inline-block;
    color: white;
    background-image: url(https://templatemo.com/templates/templatemo_487_fitness/images/blog-thumb.jpg );
    background-size: cover;
    background-position-y: 50%;
    transition: 1.5s;

}



.body>h3 {

    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

/* Prices */
.price {
    background-image: url(https://templatemo.com/templates/templatemo_487_fitness/images/price-bg.jpg);
    background-color: rgba(0, 0, 255, 0.605);
    background-size: cover;
    width: 100%;
    height: 130vh;
    margin-top: 80px;
}

.welcome-prices {
    text-align: center;
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.prices-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    text-align: center;
    padding-top: 70px;
    margin-left: 120px;
    margin-right: 120px;
}

.price>.welcome-prices>p {
    color: #707070d5;
    font-size: 20px;
    text-align: center;
}

.price>.welcome-prices>h2 {
    letter-spacing: 5px;
    font-size: 30px;
    font-family: arial;
    text-align: center;
    color: white;
}

.dollar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    background-color: rgb(36, 36, 73);
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-left: 35%;
}

.price-list {
    text-align: center;
    border: solid;
    border-color: #707070;
    border-width: 0.5px;
    width: 380px;
    height: 600px;
    flex-direction: column;
    color: white;
    line-height:40px;
  }

.price-list:hover {
    background-color: rgba(255, 255, 255, 0.849);
    color: black;

    opacity: 1;
}

.price-list:hover>.dollar {
    background-color: black;
    color: rgb(245, 246, 248);
}

.price-list:hover>button {
    opacity: 1;
    transform: translateY(2);
    transition: 0.5s;
}

.price-list>h2 {
    font-size: 40px;
    font-family: 'Lora', serif;
}

.price-list>ul {
    font-size: 20px;
    font-family: arial;
    list-style: none;
    padding: 0;
    text-decoration: none;
    padding-top: 25px;
}

.price-list>button {
    background-color: rgb(26, 26, 45);
    width: 300px;
    height: 75px;
    border: none;
    margin-top: 15px;
    opacity: 0;

}

.price-list>button:hover {
    background-color: rgb(26, 26, 26);
}

.price-list>button>a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 2px;
    display: block;  
}

.testimonials-container {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: 35vh;
    padding-top: 50px;
}

.testimonials-container>h3 {
    font-size: 28px;
    font-family: 'Lora', serif
}
.testimonials-container>.fa{
    font-size: 42px;
}
.fa {
    width: 20px;
    height: 20px;
}
.testimonials-container>h4{
    font-size: 18px;
    color: #999;
    letter-spacing: 2px;
}
/* Finished */

.container{
    background-color:#26253a ;
    width: 100%;
    height: 65vh;
}
.finished-container{
    display: flex;
    background-color:#26253a ;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 80px;
}
.section{
    width:350px;
    color: #fff;
}
.section>h2{
    font-size: 28px;
    letter-spacing: 5px;
    font-family: arial;
    font-weight: normal;
}
.section>p{
    color: rgba(117, 117, 117, 0.726);
    font-size: 18px;
    font-weight: normal;
    font-family: arial;
    letter-spacing: 2px;
}
.sesions>h2,h4{
    color:rgb(255, 255, 255);

}
.sesions>h2{
    font-size: 28px;
    letter-spacing: 5px;
    font-family: arial;
    font-weight: normal;
}

.sesions>p{
    color: #999;
    font-size: 20px;
    font-weight: normal;
}
.folow>ul{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.folow>h2{
    font-size: 28px;
    letter-spacing: 5px;
    font-family: arial;
    color:#fff;
    font-weight: normal;
}
 .folow>ul>li{
    list-style: none;
    
}
.folow>ul>li>a{
    color: #999;
}

.col{
    display: block;
    color: rgba(124, 123, 123, 0.664);
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    margin-top: 80px;

}

.col>p>a{
    color: rgba(124, 123, 123, 0.664);
    text-decoration: none;
    transition: 0.5s;

}

.col>p>a:hover{
color: white;
transition: 0.5s, ;
}